body{
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }
      .title{
        font-weight: bold;
        font-size: 30px;
      }

      .move-icon{
        height: 50px;
        
      }

      .move-button{
        background-color: transparent;
        border: 3px solid white;
        width: 120px;
        height: 120px;
        border-radius: 70px;
        margin-right: 10px;
        cursor: pointer;
      }
      .result{
        font-size: 25px;
        font-weight: bold;
        margin-top: 50px;
      }

      .score{
        margin-top: 50px;
      }

      .reset-score-button{
        background-color: white;
        font-size: 20px;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
      }