body{
    font-family: Arial, Helvetica, sans-serif;

}

.todo-grid, .todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    row-gap: 10px;
    column-gap: 10px;
    align-items: center;

}

.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch; /*bc align centre makes add button nnot stretch like input name and date*/
}

.name-input, .date-input{
    padding: 7px;
    font-size: 15px;
}

.add-todo-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.delete-todo-button{
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    padding: 7px;
    cursor: pointer;
}